:root {
    --login-background-color: #ffffff;
}

html {
    font-family: "Poppins";
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-view {
    width: 50vw;
    height: 100vh;
}

.left-view img {
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.right-view {
    width: 50vw;
    height: 100vh;
    padding: 15rem;
    background-color: var(--login-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign-in-title {
    font-size: 4.5rem;
    margin-top: 3.6rem;
}

#welcome-title {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #6c6c6c;
    width: 100%;
}

form,
#login-button {
    max-width: 70vw;
}

#email,
#password {
    border: none;
    border-bottom: 2px solid #d8d8d8;
    outline: none;
    color: #b4b4b4;
    margin-top: 6rem;
    font-size: 1.6rem;
    background: transparent;
    width: 100%;
}

#login-button {
    font-size: 1.8rem;
    width: 45rem;
    height: 3.6rem;
    border-radius: 10px;
    color: white;
    background-color: #f06680;
    border: none;
}

#login-button:hover {
    background-color: #f0667fc7;
}

#password-action-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.password-action-btn {
    line-height: 2.1rem;
    margin-top: 24px;
    font-size: 1.4rem;
}

#remember-me-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

#forgot-password-link {
    text-align: right;
}

.auth-link {
    color: #f06680;
}

#remember-me-label {
    display: flex;
    align-items: center;
    color: #776e6e;
}

#remember-me-checkbox {
    display: inline-block;
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 0.625rem;
}

[type="checkbox"] {
    vertical-align: middle;
}

#login-button {
    margin-top: 6rem;
}

#sign-up-prompt {
    margin-top: 24px;
    color: #776e6e;
    font-size: 1.4rem;
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        display: flex;
        justify-content: center;
    }
    .left-view {
        display: none;
    }
    .right-view {
        width: 100vw;
        padding: 5rem;
    }
}
